
.square {
display: flex;
align-items: center;
justify-content: center;
transition: background-color 0.2s ease-in-out;
}

.square:hover {
background-color: lightblue;
}

.game-board {
margin: 20px auto;
gap: 2px;
}

button {
margin-bottom: 10px;
padding: 8px;
cursor: pointer;
background-color: #7b15a03d;
color: rgb(14, 8, 15);
border: none;
border-radius: 5px;
}

button:hover {
background-color: #0056b3;
} 
